.contenedor{
    padding-bottom: 25px;
}

.fila{
    display: flex;
}

.columna{
    padding-right: 25px;
}

.texto{
   font-size: 19px;
   width: 400px;
   border-radius: 10px;
   padding-top: 10px;
}

.boton{
    margin-left: 250px;
    font-size: 22px;
    border-radius: 10px;
    padding: 12px
}
